:root {
    --background-color: black;
    --fundo: linear-gradient(to right, rgba(0, 0, 0, 0.959), rgb(0, 135, 252));
    --cor-texto: #FFA500;
}

.div-lubi-cadastro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51.6rem;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: 40rem;
    margin: 2rem auto;
    cursor: pointer;
    overflow: hidden;
}

.div-lubi-cadastro::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50%;
    left: -45%;
    width: 600px;
    height: 800px;
    background: linear-gradient(0deg, transparent, yellow, yellow);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.div-lubi-cadastro::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -45%;
    width: 600px;
    height: 800px;
    background: linear-gradient(0deg, transparent, #43f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.wrapper-login-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 34.8rem;
    height: 46.3rem;
    padding: 40px 40px;
    background-image: linear-gradient(225deg, #3043bd 5%, #01050f 100%);
    border-radius: 4px;
    z-index: 10;
    cursor: pointer;
}

.itens_center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 50%;
    height: auto;

}

.cad-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-family: serif;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-width: 40rem;
    max-width: 60rem;
    width: 60%;
    padding: 2rem;
    border-radius: 2rem;
    padding-block: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left_stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 2.8rem;
}

.muiInput {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 8 0%;
    height: 2.8rem;
}
.left_stack span {
    height: 0.4rem;
}
.conponent_too {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 3rem;
}
.center-input-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    background-color: rgba(157, 154, 154, 0.3);
}
.center-input-checkbox .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;

}
.center-input-checkbox div {
    text-align: left;

}
.wrapper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 70%;
}
