:root {
  --fundoUserLoged: #008080;
  --colorUserLoged: #c0c0c0;
  --divUserLoged: #800000;
}

.containerUserLoged {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--fundoUserLoged);
}

.mini-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 94%;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.search {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.search:hover {
  transition: 0.9s;
  background-color: #fff;
  color: #008080;
  padding: 2px;
}

.inputSearchAndIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  max-width: 25rem;
  width: 50%;
  margin-top: 2rem;
  background-color: var(--colorUserLoged);
  border-bottom: 1px solid rgb(249, 249, 249);
  animation: show 0.2s;
}

input {
  min-width: 15rem;
  width: 30%;
  height: 2rem;

  border: none;
  outline: none;
  background-color: transparent;
}

input::placeholder {
  color: black;
}

.infoUser {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 86%;
  bottom: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  min-width: 22rem;
  max-width: 20rem;
  width: auto;
  min-height: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 10px;
  padding-block: 6px;
  padding-inline: 15px;
}

.info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  color: #800000;
}

.confirmation-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: serif;
  color: rgb(199, 80, 0) !important;
}

.checkConfirmation {
  padding: 3px;
  border-radius: 2rem;
  color: #008080;
  background-color: #c0c0c0;
}

.checkConfirmation:hover {
  padding: 4px;
  color: #c0c0c0;
  background-color: #800000;
  transition: 0.9s;
  cursor: pointer;
}

.edit-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 98.5%;
  height: 2rem;
  padding: 3px;
  color: #008080;

}

.edit-user a, 
.edit-user div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: black;
  background-color:#008080;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.edit-user div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: black;
  background-color: red;
}
.edit-user div:nth-child(1):hover,
.edit-user div:nth-child(2):hover {
  padding: 4px;
  color: #c0c0c0;
  transition: 0.9s;
  cursor: pointer;
  filter: contrast(2);
}
.edit-user a:hover {
  padding: 4px;
  color: #c0c0c0;
  transition: 0.9s;
  cursor: pointer;
  filter: contrast(2);
}
.more-info-user {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: serif;
  animation: show 0.1s;
}

.more-info-user div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 25px;
  font-family: serif;
}

.more-info-user div span {
  position: absolute;
}

.more-info-user div:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.more-info-user div:nth-child(2) {
  color: #800000;
}

.itens-info-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  width: 100%;
  min-height: 2rem;
  height: auto;
  padding-inline: 5px;
  background-color: black;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px;
  font-family: serif;
  border-bottom: 0.1px solid rgb(182, 182, 182);
  border-top: 0.1px solid rgb(175, 251, 117);
}

.itens-info-user:hover {
  padding: 3px;
  transition: 0.1s;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: #008080;
  font-size: 15px;
}

span:hover {
  transition: 0.9s;
  color: orange;
}

.info-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  background-color: rgb(18, 18, 18);
}

#password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  min-height: 2rem;
  height: auto;
  padding-inline: 5px;
  background-color: black;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 0px;
  font-family: serif;
  border-bottom: 0.1px solid rgb(182, 182, 182);
  border-top: 0.1px solid rgb(175, 251, 117);
  animation: show 0.3s;
}

#password::placeholder {
  color: white;
}

.listUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  min-width: 30rem;
  width: auto;
  min-height: 50rem;
  height: auto;
  margin-inline: 10px;
  margin-bottom: 10px;
}

.logoListUsers {
  width: 98%;
  height: 4rem;
  padding-inline: 5px;
  background-color: var(--fundoUserLoged);
  /* font-family: serif; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logoListUsers:hover {
  transition: 0.9s;
  background-color: black;
}

.logoListUsers div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 70%;
  background-color: rgb(39, 30, 30);
  cursor: pointer;
}

.logoListUsers div:hover {
  transition: 0.9s;
  background-color: #008080;
}

.resultSearch {
  display: flex;
  font-display: auto;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  min-height: 42rem;
  background-color: rgb(39, 30, 30);
}

.listUser-resultSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-height: 42rem;
  transition: .9s;
  overflow-y: scroll;
}

.listUser-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  min-height: 42rem;
  height: 42rem;
  transition: .9s;
  overflow-y: auto;
}

.listUser-resultSearch::-webkit-scrollbar,
.listUser-users::-webkit-scrollbar {
  background-color: rgb(51, 121, 140);
  width: 10px;
}

.listUser-users::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
  border-radius: 100%;
  width: 5px;
}

.listUser-more {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 42rem;
  transition: .9s;
  filter: brightness(0.6);
  background-image: url(../../assets/users.webp);
  background-size: contain;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-block: 3px;
  width: 100%;
  height: 1.2rem;
  font-family: serif;
  color: rgb(234, 227, 227);
  cursor: pointer;
  font-size: 16px;
  border-bottom: 0.1px solid rgb(255, 248, 248);
}


.users:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(77, 77, 77);
  transition: .9s;
  color: green;
}

.option:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  margin-bottom: 5px;
}

@keyframes show {
  0% {
    height: 10px;
  }

  25% {
    height: 15px;
  }

  50% {
    height: 20px;
  }

  75% {
    height: 25px;
  }

  100% {
    height: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .infoUser {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 86%;
    bottom: 0;
  }

  .itens-info-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    width: 100%;
    min-height: 2rem;
    height: auto;
    padding-inline: 5px;
    background-color: black;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 0px;
    font-family: serif;
    border-bottom: 0.1px solid rgb(182, 182, 182);
    border-top: 0.1px solid rgb(175, 251, 117);
  }

  .listUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    min-width: 30rem;
    width: auto;
    min-height: 35rem;
    height: auto;
    margin-inline: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .logoListUsers:hover {
    transition: 0.9s;
    background-color: black;
  }

  .logoListUsers div:hover {
    transition: 0.9s;
    background-color: #008080;
  }

  .listUser-resultSearch {
    display: flex;
    font-display: auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    min-height: 31rem;
    background-color: rgb(39, 30, 30);
  }
}