.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  margin-bottom: 10rem;
  height: 25rem;
  /* background-image: linear-gradient(285deg, #313868 8%, #111728 100%); */
  cursor: pointer;
  color: black;
}
.div-lubi:hover {
  transition: 1s;
  background-image: linear-gradient(225deg, #818dd8 5%, #01050f 100%);
  transform: translateY(-1rem);
}

.wrappr-login {
  display: flex;
  flex-direction: column;
  padding: 27px 10px;
  height: 23.4rem;
  background-image: linear-gradient(225deg, #3043bd 5%, #01050f 100%);
  border-radius: 4px;
  width: 38.4rem;
  z-index: 10;
  cursor: pointer;
}

.div-lubi::before {
  content: "";
  position: absolute;
  top: -60%;
  left: -10%;
  width: 390px;
  height: 440px;
  background: linear-gradient(0deg, transparent, yellow, yellow);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.div-lubi::after {
  content: "";
  position: absolute;
  top: -60%;
  left: -10%;
  width: 390px;
  height: 440px;
  background: linear-gradient(0deg, transparent, #43f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.div-lubi {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27rem;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  width: 40rem;
  margin: 2rem auto;
  cursor: pointer;
  overflow: hidden;
}

.wrappr-login p {
  display: flex;
  margin-top: 10px;
  color: #00a8fb;
  font-size: 12pt;
}

.digite {
  display: flex;

  width: 100%;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Special Elite", monospace;
}

.mybotton {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: auto;

  align-items: center;
  justify-content: space-between;

  position: relative;
}

.loginlogar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.loginlogar:hover {
  transition: 0.9s;
  transform: translateX(20px);
}
.loginlogar::after,
.loginlogar::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.loginlogar::before {
  transform: scaleY(0);
  border-right: 2px solid #09f315;
  border-left: 2px solid #f51d09;
}
.loginlogar::after {
  transform: scaleX(0);
  border-top: 2px solid #fbbc05;
  border-bottom: 2px solid #4285f4;
}
.loginlogar:hover:before {
  transform: scaleX(1);
}
.loginlogar:hover::after {
  transform: scaleX(1);
}

/**=================stilos de botão 1========**/
.a-dobotaoa {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #2196f3;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
}
.mybotton button {
  display: flex;

  border: none;
  background: transparent;
  overflow: none;
  outline: none;
}
.button:focus,
button:active {
  outline: none;
  border: none;
  padding: none;
  margin: none;
}
.a-dobotaoa:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.spanbotao {
  position: absolute;
  display: block;
}

.spanbotao:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #09f315 10%, #4285f4 50%);
}

.a-dobotaoa:hover .spanbotao:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.spanbotao:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, pink 1%, #fbbc05 50%);
}

.a-dobotaoa:hover .spanbotao:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.spanbotao:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #09f315);
}

.a-dobotaoa:hover .spanbotao:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.spanbotao:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f51d09);
}

.a-dobotaoa:hover .spanbotao:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/**=================stilos de botão 2========**/

.linkeparacadastro {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #2196f3;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}
.linkeparacadastro:hover {
  color: #255784;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

.spanlinke {
  position: absolute;
  display: block;
}

.spanlinke:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #4285f4);
}

.linkeparacadastro:hover .spanlinke:nth-child(1) {
  left: 100%;
  transition: 0.4s;
}

.spanlinke:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fbbc05);
}

.linkeparacadastro:hover .spanlinke:nth-child(3) {
  right: 100%;
  transition: 0.4s;
  transition-delay: 0.5s;
}

.spanlinke:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #09f315);
}

.linkeparacadastro:hover .spanlinke:nth-child(2) {
  top: 100%;
  transition: 0.4s;
  transition-delay: 0.25s;
}

.spanlinke:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f51d09);
}

.linkeparacadastro:hover .spanlinke:nth-child(4) {
  bottom: 100%;
  transition: 0.4s;
  transition-delay: 0.75s;
}

/**=====my-wrapper-input====*/

.my-wrapperinput {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 350px;
}
.info-input-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 49%;
  height: 100%;
}

.info-input-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 49%;
  height: 100%;
}

.digite {
  overflow: hidden;
  position: relative;
}

.digite::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a80ef;
  transform: translateX(-101%);
  animation: enlorgredigite 0.5s 0.6s both, reveldigite 0.5s 1.1s both;
}
@keyframes reveldigite {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(101%);
  }
}

@keyframes enlorgredigite {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.tex-p {
  opacity: 0;
  animation: fadeInText 0s 1.1s both;
}
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
