:root {
    --background-color: black;
    --fundo: linear-gradient(to right, rgba(0, 0, 0, 0.959), rgb(0, 135, 252));
    --cor-texto: #FFA500;
}

body {
    background-color: var(--background-color);
    background-image: url(../../assets/users.webp);
    background-size: cover;

}

.container {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: var(--fundo);
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    min-width: 25rem;
    width: 100%;
    margin-top: 3rem;
    font-family: serif;
}

.container-bottons-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 25rem;
    min-width: 25rem;
    width: 30%;
    height: 40%;
    margin-top: 3rem;
    font-family: serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0.1px solid rgb(25, 22, 27);
}

.container-bottons-center button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-family: serif;
}

button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .9s;
    padding-block: 0.9rem;
}
button:visited {
    transition: .9s;
    padding-block: 0.9rem;
}