

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 490px;
    width: 450px;
    background-color: rgb(100, 95, 95);

}
.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    background-color: rgb(112, 112, 119);
}
.input-field input {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;

}
.input-field span {
    display: flex;
    text-align: center;
    position: absolute;
    position: fixed;
    margin-right: -50%;
    cursor: pointer;
}